name: ci
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v3
      - name: copy file via ssh password
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.AWS_FRONTEND }}
          key: ${{ secrets.AWS_KEY }}
          username: ubuntu
          source: ./*
          target: /home/ubuntu/